<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--面向实现编程实现的东西-->
    <bean id="sample" class="Beans.Sample"></bean>
    <!--面向接口编程实现的东西-->
    <bean id="compute" class="Beans.Sample1"></bean>


    <!--book实例，具体的依赖关系在xml文件中定义，从而可以不去修改java代码，降低耦合-->
    <bean id="simplefinderimple" class="Books.SimpleFinderImpl"></bean>
    <bean id="filefinderimpl" class="Books.FileBookFinderImpl"></bean>
    <bean id="booklistener" class="Books.BookListenerImpl">
        <property name="bookFinder" ref="filefinderimpl"></property>
    </bean>

</beans>